<main>
    <div class="position-relative">
      <!-- shape Hero -->
      <section class="section section-lg section-shaped pb-250">
        <div class="shape shape-style-1 shape-default">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="container py-lg-md d-flex">
          <div class="col px-0">
            <div class="row">
              <div class="col-12">
                <div class="card" style="padding: 40px;">
                  <h3 style="text-align: center;">Modification</h3>
                  <form  #myForm="ngForm" (ngSubmit)="edit()">
        
                    <div class="row">
                      <div class="col-6">
                        <label for="">Nom</label>

                        <input class="form-input" [(ngModel)]="fournisseur.nom" placeholder="Name" required #nom="ngModel">
                        <span style="color:red;" *ngIf="nom.invalid && nom?.touched &&nom.errors?.['required']">Le Nom est obligatoire</span>
                      </div>
                      <div class="col-6">
                        <label for="">Email</label>
                        <input class="form-input" type="email" [(ngModel)]="fournisseur.email" placeholder="Email" #email="ngModel"  pattern="[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,4}">

                      </div>
                      
                    
                      </div>
                      <div class="col-4" style="margin-top: 25px;">

                        <button class="btn btn-danger"   [disabled]="myForm.invalid" >Valider les modifications</button>
                      </div></form></div></div></div></div></div></section></div></main>