<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="container mt-5">
                                <h2 style="font-weight: bold; color: white;">Liste des Fournisseurs</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <table class="table table-bordered table-striped">
                                            <thead class="table-dark">
        <tr>
            <th>Nom Fournisseur</th>
            <th>Email</th>
            <th>Edit</th>


        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let event of fournisseurs">
            <td>{{event.nom}}</td>
            <td>{{event.email}}</td>
            <td>
                <button (click)="edit(event)" type="button" class="btn btn-primary"
                    >
                    EDIT
                </button>
            </td>
            
          </tr>
         
    </tbody>
                                    </table>
                                    </table></div></div></div></div></div></div></section></div></main>