<main>
    <div class="position-relative">
        <!-- shape Hero -->
        <section class="section section-lg section-shaped pb-250">
            <div class="shape shape-style-1 shape-default">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
            </div>
            <div class="container py-lg-md d-flex">
                <div class="col px-0">
                    <div class="row">
                        <div class="col-12">
                            <div class="container mt-5">
                                <h2 style="font-weight: bold; color: white;">Liste des recéptions</h2>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped">
                                        <table class="table table-bordered table-striped">
                                            <thead class="table-dark">
                                                <tr>
                                                    <th>Fourniseur</th>
                                                    <th>Article</th>
                                                    <th>BL</th>
                                                    <th>Commande</th>
                                                    <th>Quantité</th>
                                                    <th>Edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let i of recption">

                                                    <td>{{i.fournisseur.nom}}</td>
                                                    <td>{{i.article.code}}</td>
                                                    <td>{{i.bl}}</td>
                                                    <td>{{i.cmd}}</td>
                                                    <td>{{i.quantite}}</td>
                                                    <td>
                                                        <button (click)="edit(i)" type="button" class="btn btn-primary"
                                                            >
                                                            EDIT
                                                        </button>
                                                    </td>
                                                </tr>

                                                <!-- Add more rows as needed -->
                                            </tbody>
                                        </table>
                                    </table>
                                <button (click)="pdf()" class="btn btn-danger" > 
                                    <a>
                                        <img style="width: 20px;" src="assets/img/pdf.png" alt="">
                                        Download
                                    </a>
                                </button>
                                </div>
                            </div>

                        </div>

                     
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>